.container {
    width: 100%;
    padding: 0px 20px;

    .wrapper {
        padding: 0px 0px 0px;
        max-width: 1108px;
        width: 100%;
        margin: 80px auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .list {
            width: 100%;
            max-width: 728px;
            margin: 0px auto;
            list-style: none;
                
            .item {
                
                & ~ .item {
                    padding-top: 2rem;
                    margin-top: 2rem;
                    border-top: 1px solid var(--gray-500);
                }

                .anchor {

                    .flags {
                        margin-bottom: 1rem;
            
                        .created {
                            font-size: 1rem;
                            font-weight: 400;
                            color: var(--gray-300);
                            line-height: 1;
                        }
                    }
    
                    .title {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: var(--white);
                        margin-bottom: 0.5rem;
                        line-height: 1.6;
                        transition: color 0.3s ease;

                        &:hover {
                            color: var(--yellow-800);
                        }
                    }
    
                    .description {
                        font-size: 1rem;
                        font-weight: 400;
                        color: var(--gray-300);
                        line-height: 1.6;
                    }
                }
                

            }

        }

    }
}